! Custom
! Original theme https://github.com/nathanbuchar/atom-one-dark-terminal
*.foreground:    #ABB2BF
*.background:    #1E2127
*.cursorColor:   #5C6370
*.highlightColor:#3A3F4B

! Negro y gris
*.color0:        #1E2127
*.color8:        #5C6370
! Rojos
*.color1:        #E06C75w
*.color9:        #E06C75
! Verde
*.color2:        #98C379
*.color10:       #98C379
! Amarillo
*.color3:        #D19A66
*.color11:       #D19A66
! Azul
*.color4:        #61AFEF
*.color12:       #61AFEF
! Magenta
*.color5:        #C678DD
*.color13:       #C678DD
! Cyan
*.color6:        #56B6C2
*.color14:       #56B6C2
! Blanco
*.color7:        #ABB2BF
*.color15:       #FFFFFF

*.color21: #ffffff
*.color18: #393939

! Fonts
Xft.dpi: 96
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! URxvt
URxvt.perl-ext-common: default,matcher
URxvt.scrollBar: false
URxvt.font: xft:scientifica:pixelsize=8:size=8, xft:Kochi Gothic:antialias=false
URxvt.boldFont: xft:scientifica:pixelsize=8:size=8:style=Bold
URxvt.italicFont: xft:scientifica:pixelsize=8:size=8:style=Italic
URxvt.cursorUnderline: true
URxvt.internalBorder: 15
URxvt.letterSpace: 0

! rofi
rofi.font: scientifica Regular 8
rofi.terminal: urxvtc
rofi.ssh-client: ssh
rofi.ssh-command: {terminal} -e {ssh-client} {host}

! Clickable URLs
URxvt.url-launcher: firefox
URxvt.matcher.button: 1

! Use Control-Shift-V/C for X clipboard
URxvt.iso14755: false
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
